.dialogs {
    display: grid;
    grid-template-columns: 10em 1fr;
}

.dialogsItems_items {
    padding: 1rem;
}

.dialogs .dialog {
    padding: 1rem;
}

.messages {
    padding: 1rem;
}

.messages .message {
    padding: 1rem;
}

.active{
    color: brown;
}